body {
	font-family:  Arial;
margin:0px;
	padding: 0px;
	background:#FAF8EB;
}





h1 {
	font-size: 40px;

}


h2 {
	
	display: table;
	white-space: nowrap;
	text-align: center;
	font-weight:normal;
	font-size: 50px;


}
h2:before, h2:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: linear-gradient(#000, #000) repeat-x left center;
  background-size: 1px 1px;
}



h3 {
	
	display: table;
	white-space: nowrap;
	text-align: center;
	font-weight:normal;
	font-size: 30px;


}
h3:before, h3:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: linear-gradient(#000, #000) repeat-x left center;
  background-size: 1px 1px;
}


p {
	margin-left:40pt;
	margin-right:40pt ; 
	text-align:justify ;
	font-family:Arial;
}

p2 {
	margin-left:40pt;
	margin-right:40pt ; 
	text-align:center ;
	font-family:Arial, sans-serif ;
}


.top{
	margin-top:60px;

}

.cent{
height : 120px;


}

.soi{
height : 60px;


}

.imgfixed{
visibility: hidden;


}


.opa{

opacity: 0.95;

}
.fixed{
	margin: 0px;
  position:fixed;
  top:0px;
width :100%;
height : 60px;

}



.margfix {
	margin-top: 120px;

}


.block {
margin-top :5%;
display: inline-block;
width: 49%;
height: 200px;
background:  #ffdab9;
text-decoration : none;
font-weight:bold;
font-size: 50px;
text-align:center; 
padding-top:120px;
color: black;
border-style: solid;
border-width: 5px;
border-radius: 5px;
    }
	
.t{
background-color: RGBa(0, 0, 0, 0.8);
color: White;
padding: 1% 1% 1% 3%;
font-family: Verdana;


}

.r{
background-color: RGBa(0, 0, 0, 0.65);
color: White;
padding: 1% 1% 1% 3%;
font-family: Verdana;
}

.l{
background-color: RGBa(0, 0, 0, 0.5);
color: White;
padding: 1% 1% 1% 3%;
font-family: Verdana;
}


.t a{

color:#00bfff;


}



.r a{

color:#00bfff;

}







.dro{
float:right;
margin-top: 50px;
margin-right:14%;
}


.gau{

float:left;
margin-top: 50px;
margin-left:14%;
}

.gaui{

margin-top: 150px;
margin-bottom: 10px;

margin-left:10%;
}

.droi{

margin-top: 150px;
margin-bottom: 10px;
margin-left:60px;
}
.tt{

width:30%;
}



.im1{
	
background: url(images/jafond.jpg) no-repeat center ; 
width:90%;
margin-left:auto;
margin-right:auto;

}

.im2{
	
background: url(images/balan.jpg) no-repeat center ;
width:90%;
margin-left:auto;
margin-right:auto;
}


.im3{
	
background: url(images/tornade.jpg) no-repeat center ;
width:90%;
margin-left:auto;
margin-right:auto;
}


.cen{

margin-left:25%;
}


.fblanc{

background:white;
padding:0px;

}

.fblanc2{

background:white;
padding-top:25px;
padding-bottom:15px;

}





#videoDiv {width: 100%; height: 560px; position: relative; overflow: hidden;}
#videoBlock {width: 100%;   display: flex;  justify-content: center; size:cover;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0;margin-top:200px;}
#videoMessage *{padding:0;  margin-left:15%; float: left; padding: 1% 1% 1% 1%; font-family: Verdana; opacity: 0.9; }
#videoMessage { color:white;z-index:99; }
#videoMessage h1{font-size: 30px;color:#ffffff;background-color: RGBa(0, 0, 0, 0.5); margin-top:0px;margin-bottom:5px;} 




div#fond1 {
	
height : 200px;

  padding:0px;
  background: url(images/blacklotus.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

div#fond2 {
height : 200px;

  padding:0px;
  background: url(images/tornade.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

div#fond3 {
height : 200px;

  padding:0px;
  background: url(images/tornade.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#tnissa {
float:right;
display:inline-block;
margin-top:-290px;
}

#tob {
float:right;
display:inline-block;
margin-top:-130px;

}

#tcool {
float:left;
display:inline-block;
margin-top:-290px;
}

#tkora {
float:left;
display:inline-block;
margin-top:-130px;

}

.centrer {
margin-top:0px;
margin-right:15%;
margin-left:15%;

margin-bottom:0px;

}
	
	
ul#menu div{
margin-right:15%;
margin-left:15%;
margin-bottom:0px;
margin-top:0px;


}


ul#menu img{
	margin-top:10px;

display: inline-block;
float : left;

}


nav {

margin:0px;
padding:0px;
}


ul#menu {
margin: 0px;
padding:0px;
background-color : black;
list-style-type : none; 
z-index:9999999;

}

ul#menu a {
margin-bottom:0px;
height : 40px;
float : right;
display: inline-block;
text-decoration : none;
padding-left: 2%;
padding-right: 2%;
padding-top:20px;
color:white;
font-weight:bold;

}


ul#menu a:hover { 

background-color: RGBa(228, 77, 38, 0.15);

 }
 
 ul#menu p{
 
 color : blue;
margin-left: 20%;


font :  0.9em "Trebuchet MS";
 
 }

.nom_css {

display: inline-block; 
margin-left:10%;
margin-right:10%;
color: #FFFFFF;

}

.annee_css {

display: inline-block; 
margin-left:10%;
margin-right:10%; 

}


div#req {
display : block;


}

table {
 background-color: #716C67;
 border-collapse:collapse;
 vertical-align: middle;
 width: 100%;
 }
 
 td {  
 background-color: white;
 text-align: center;
 border-width:1px;
 border-style:solid;  
 border-color:white;
 
 }
